/* ==========================================
   UNITED IN GRACE MINISTRIES
   Main Stylesheet
========================================== */
/* ================= LOGO ================= */

/* ================= LOGO ================= */

.logo{
    width:90px;
    height:auto;
    display:block;
    margin:0 auto 15px;
}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{

    font-family:Arial, Helvetica, sans-serif;

    background:#f4f4f4;

    color:#333;

    line-height:1.8;

}

/* ================= CONTAINER ================= */

.container{

    width:90%;

    max-width:1200px;

    margin:auto;

}

/* ================= HEADER ================= */

header{

    background:#0B2545;

    color:white;

    text-align:center;

    padding:35px 20px;

    position:sticky;

    top:0;

    z-index:1000;

    box-shadow:0 3px 10px rgba(0,0,0,.25);

}

header h1{

    font-size:3rem;

    margin-bottom:10px;

}

.tagline{

    color:#dddddd;

    margin-bottom:25px;

    font-size:1.15rem;

}

/* ================= NAVIGATION ================= */

nav{

    display:flex;

    justify-content:center;

    flex-wrap:wrap;

    gap:15px;

}

nav a{

    color:white;

    text-decoration:none;

    padding:12px 20px;

    border-radius:30px;

    transition:.35s;

    font-weight:bold;

}

nav a:hover{

    background:#7A1E2C;

}

/* ================= HERO ================= */
/* ================= HERO ================= */

.hero{

    height:220px;

    background:
        linear-gradient(rgba(11,37,69,.55), rgba(122,30,44,.55)),
        url("../images/1000002697_1789226324847.jpg");

    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;

    display:flex;
    justify-content:center;
    align-items:center;

    text-align:center;
    color:white;

}

.overlay{

    width:100%;
    padding:20px;

}

.hero h2{

    font-size:2rem;
    margin-bottom:10px;

}

.hero p{

    font-size:1rem;
    max-width:700px;
    margin:auto;

}
